<li class="list-group-item d-flex align-items-center justify-content-between">
	{{name}}
	<span class="change-devoured" data-id="{{id}}" data-neworder="{{devoured}}">
		{{#if devoured}}<button class="btn btn-sm btn-warning">DINE IN!</button>{{else}}<button class="btn btn-sm btn-success">TO GO!</button>{{/if}}
	<button class="delete-burger btn btn-danger btn-sm" data-id="{{this.id}}">X</button></span>
</li>
